body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

#chatbot-container {
  height: 400px;
  width: 100%;
}

main {
  background-color: white;
  width: 100%;
}


@media (min-width: 800px) {
  body {
    padding: 2rem;
  }

  #info-center-container {
    width: 80%;
  }
  
  .query {
    margin-bottom: 0.3rem;
  }

  main {
    display: grid;
    grid-template-columns: [first] 3fr [second] 3fr [third];
    grid-template-rows: [first] 1fr [second] 6fr [third] 1fr [fourth];
    max-width: 1000px;
  }
  
  #info-header {
    grid-column-start: first;
    grid-column-end: third;
    grid-row-start: first;
    grid-row-end: second;
    text-align: center;
  }
  
  #info-container {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: second;
    grid-row-end: third;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  #chatbot-container {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: second;
    grid-row-end: fourth;
    height: auto;
  }
}